html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  width: 100%;
  margin: auto;
  margin-bottom: 16px;
}

#refreshBtn {
  position: fixed;
  top: 0;
  right: 0;
}

.canvas-container {
  width: 300px; 
  height: 300px;
  display: none;
}

.canvas-container canvas {
  width: 300px; 
  height: 300px; 
  image-rendering: pixelated; 
  position: absolute; 
  top: 0; left: 0;
}

#skin-container {
  position: fixed; 
  top: 0; right: 0;
  bottom: 0; left: 360px;
}

#panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  padding: 24px;
  overflow-y: overlay;
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-primary:hover::before, .btn-primary:focus::before {
  background-color: transparent;
}

.mr-3px {
  margin-right: 3px;
}
.mr-3px:last-child {
  margin-right: 0;
}

.btn-color {
  height: 24px;
  width: 24px;
  padding: 0;
  margin-right: 3px;
}
.btn-color:last-child {
  margin-right: 0;
}
.btn-color::before {
  background-color: transparent;
}
.btn-color:hover:before, .btn-color:focus:before {
  opacity: 0.2;
}
.btn-color-rainbow {
  background-image: conic-gradient(red, yellow, green, blue, black);
}